<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ResultCreator.Properties.Settings.VoitingConnectionString"
            connectionString="Data Source=s2010;Initial Catalog=Voiting;User ID=v.piskov;Password=Eit160t"
            providerName="System.Data.SqlClient" />
        <add name="ResultCreator.Properties.Settings.CHKCompConnectionString"
            connectionString="Data Source=cube2005;Initial Catalog=CHKComp;User ID=manager;Password=manager"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>