@{
    ViewBag.Title = "Анкета заполненна успешно";
}

<div class="jumbotron " style="margin-top:10%">
    



    <div class="form-group" style="margin-bottom:60px">
        <div>
            <label for="Num">Вы успешно заполнили анкету</label>
        </div>

        <h4>@Html.ActionLink("На главную", "Index", "Home")</h4>
    </div>

    </div>
